@model Rathor.Models.ViewProject

@{
    ViewData["Title"] = "ViewProject";
    Layout = "_Layout";
}

<h1>Create Project Page</h1>

<p>
    <a asp-action="CreateProject">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>User Assigned</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model._projectInfo)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Description

                </td>
                <td>
                    @item.StartDate.ToString("dd-MM-yyyy")

                </td>
                <td>
                    @item.EndDate.ToString("dd-MM-yyyy")

                </td>
                <td>
                    @if (item.AssignyId != null)
                    {
                        int assign = Convert.ToInt32(item.AssignyId);

                        @foreach (var v in Model.User)
                        {
                            int id = Convert.ToInt32(v.AssignyId);
                            if (id == assign)
                            {
                                @v.Name
                            }
                        }


                    }
                </td>
                <td>
                    <a asp-controller="Project" asp-route-id="@item.projectId" asp-action="EditProject" target="_blank" class="btn btn-primary mx-2">
                        Edit Project
                    </a>
                    <a asp-controller="Project" asp-route-id="@item.projectId" asp-action="DeleteProject" class="btn btn-danger mx-2">
                        Delete Project
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
